body {
    background-color: #492296;
    font-family: 'Open Sans', sans-serif;
  }
  
  .body-content {
    background-color: #fff;
    min-height: 100vh;
    padding: 0px !important;
  }
  
  .wrapper {
    padding: 0vw 2.5vw;
  }
  
  .user_header {
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid lightgrey;
  }
  
  .header_buffer {
    height: 100%;
    width: 100%;
  }
  
  .nav_container {
    display: inline-block;
    height: 100% !important;
  }
  
  .logo, .search_nav, .vert {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .search_float {
    float: right;
  }
  
  .logo {
    /* width:15vw; */
    float: left;
  }
  
  .search_nav {
    float: right;
    width: 35vw;
  }
  
  @media (max-width: 965px) {
    .search_nav {
      width: 40vw;
    }
  }
  
  .search_bar {
    border-radius: 25px;
    width: 20vw;
    display: inline-block;
    margin-right: 1.5vw;
  }
  
  .top_nav_option {
    margin-right: 1.5vw;
  }
  
  .sign_up {
    color: inherit;
  }
  
  .sign_up:hover {
    color: inherit;
    text-decoration: none;
  }
  
  .nav_options li {
    float: right;
    margin-right: 2.5vw;
  }
  
  .main_content {
    height: 100%;
    width: 100%;
    margin: 0px;
  }
  
  .main_content .main_col {
    height: 100%;
  }
  
  .main_content .user_name {
    font-size: 1.5em;
  }
  
  .main_content .follow_me {
    width: 55%;
    padding: 1vw;
    border-radius: 25px;
    background-color: #f1efef;
    font-size: .85em;
    display: inline-block;
    margin: auto;
    color: grey;
  }
  
  .main_content .follow_me:hover {
    background-color: lightgrey;
  }
  
  .main_content .user_info {
    text-align: center;
    margin-top: 3.5vw;
  }
  
  .main_content .user_info a {
    color: inherit;
  }
  
  .main_content .user_info a:hover {
    text-decoration: none;
    color: inherit;
  }
  
  .main_content .user_stat {
    font-size: .75em;
    color: #b9b9b9;
  }
  
  .main_content .user_subtitle {
    margin-bottom: 1.5vw;
    font-size: .85em;
    color: #b9b9b9;
  }
  
  .main_content .divider {
    margin: 1.5vw 0vw;
  }
  
  .main_content .divider {
    width: 25%;
    border-bottom: 1px solid lightgrey;
    display: inline-block;
  }
  
  .main_content .stats {
    font-size: 2em;
    font-weight: bold;
  }
  
  .main_content .social_icon i {
    font-size: 2em;
    color: blue;
  }

  .ChatApp {
    text-align: center;
  }
  
  .ChatApp-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .ChatApp-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .ChatApp-title {
    font-size: 1.5em;
  }
  
  .ChatApp-intro {
    font-size: large;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  